.Toastify__toast--default {
    background: orange !important;
    color: #ffffff !important;
}

.Toastify__toast--success {
    background: #4BCA81 !important;
    color: #ffffff !important;
}

.Toastify__progress-bar--success{
    background: orange !important;
}